div:first-of-type {
  padding: 40px;
  background-color: yellow;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  border: 3px solid black;
  position: relative;
}
div:first-of-type:before, div:first-of-type:after {
  content: '';
  padding: 10px;
  background-color: black;
  width: 10px;
  top: 50px;
  position: absolute;
  height: 10px;
  margin: auto;
  border-radius: 50%;
  display: inline-block;
}
div:first-of-type:before {
  right: 40px;
}
div:first-of-type:after {
  left: 40px;
}
div:first-of-type + div:last-of-type {
  transition: 333ms all ease-in-out;
}
div:first-of-type:hover + div:last-of-type {
  border-bottom-width: 30px;
}

div:last-of-type {
  background-color: yellow;
  padding: 30px;
  width: 40px;
  border-radius: 50%;
  border-bottom: 10px solid black;
  position: relative;
  margin: auto;
  bottom: 105px;
}
